@font-face {
    font-family: 'SctoGroteskA-Regular';
    src: url('/assets/fonts/SctoGroteskA-Regular.woff2') format('woff2'),
        url('/assets/fonts/SctoGroteskA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SctoGroteskA-RegularItalic';
    src: url('/assets/fonts/SctoGroteskA-RegularItalic.woff2') format('woff2'),
        url('/assets/fonts/SctoGroteskA-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graebenbach-Medium';
    src: url('/assets/fonts/Graebenbach-Medium.woff2') format('woff2'),
        url('/assets/fonts/Graebenbach-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graebenbach-MediumItalic';
    src: url('/assets/fonts/Graebenbach-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/Graebenbach-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}